:root {
  --card-color: #F7FBFFEE;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New",Courier, monospace;
  background: linear-gradient(89deg,#AAA 0%,#BBB 100%);
  color: #223843;
}


.App {
  text-align: center;
}

.IOTACS{
 font-family: 'Cinzel', serif;
}
.logo{
  height: 40px;
  top: 5px;
}
.center{
  display: flex;
  justify-content: center;
}

.particles{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.ui-button {
	background-color: #495867!important;
	color: #F7FBFF!important;
	border-color: #495867;
}


button{
  cursor: pointer;
}

.spartan{
  color: #9E1A1A;
}
.sky{
  color:#5CC8FF;
}

.top_bar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 50px;
  background: #EFF1F3;
  margin-bottom: 2%;
}

#grafica{
  height: 200px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Panel{

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background: var(--card-color);
  border-radius: 5px;
  border-bottom: #223843 solid 2px;
  border-right: #223843 solid 2px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

}
.Panel span{
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}

.helpPanel{
  z-index: 4;
  width: 80%;
  margin-left: 15%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background: var(--card-color);
  border-radius: 5px;
  border-bottom: #223843 solid 2px;
  border-right: #223843 solid 2px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

}
.helpPanel h1{
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
}

.helpmenu{
  z-index: 5;
  position: fixed;
  margin-left: 2%;
  padding-left: 1%;
  margin-bottom: 0px;
  width: 11%;
  height: 70%;
  background: var(--card-color);
  border-radius: 5px;
  border-bottom: #223843 solid 2px;
  border-right: #223843 solid 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.helpmenu span{
  padding-bottom: 5px;
}
.helpmenu span:hover{
  cursor: pointer;
  padding-left: 5px;
}
.helpmenu span:active{
  cursor: pointer;
  padding-left: 7px;
}

.logo{
    height: 40px;
    left: 20px;
    top: 5px;
}
.botones_device{
  position: absolute;
  right: 5%;
}
.ui-accordion-tab{
  width: 100%;
  border-bottom: #223843 solid 2px;
  background: var(--card-color);
}
.ui-accordion{
  background-color: var(--card-color);
}
.token_span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dialog{
  z-index: 1000;
}
.ui-dialog-mask{
  z-index: 500;
}
/*colors{
  #F7FBFFEE cards
  #BBBBBB gray
  #EFF1F3 white
  #223843 dark blue
  #495867 middle blue
  #577399 light blue
  #5CC8FF light light blue  
  #CCF5AC light green
  
}*/

